@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --black: #0000;
    --deep-blue: #1c335a;
    --white: #ffff;
    --purple: #BF40BF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;    
}
.main-box{
    padding: 6.5rem;
    display: flex;
    width: 100%;
}
.left-side{
    background-color: var(--deep-blue);
    margin-bottom: 5px;
    border-radius: 12px 0 0 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;

}
.first-statement{
    font-size: 2rem;
    text-align: left;
    font-weight: 800;
    padding-bottom: 2rem;
}
.second-state

